<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <aside>
      <img
        class="logo_img"
        src="/assets/foco.svg"
        alt="포코로고"
      />
      <a href="/pages/home.html"
        ><span class="icon"
          ><img class="icon" src="/assets/sidebar_icon/home.png"
          .png" alt="홈 아이콘" /></span
        >
        &nbsp;홈</a
      >
      <a href="/pages/report.html"
        ><span class="icon"
          ><img
            src="/assets/sidebar_icon/report.png"
            alt="리포트 아이콘"
        /></span>
        &nbsp;리포트</a
      ><a href="/pages/study.html"
        ><span class="icon"
          ><img
            src="/assets/sidebar_icon/study.png"
            alt="공부하기 아이콘"
        /></span>
        &nbsp;공부하기</a
      >
      <a href="/pages/mypage.html"
        ><span class="icon"
          ><img
            src="/assets/sidebar_icon/mypage.png"
            alt="마이페이지 아이콘"
        /></span>
        &nbsp;마이페이지</a
      >
    </aside>
    <script src="../js/renderSidebar.js"></script>
  </body>
</html>
